<ion-menu contentId="main-content" class="border-r border-gray-100 shadow-sm">
  <ion-header class="ion-no-border">
    <ion-toolbar class="px-2 py-4" style="--background: #ffffff;">
      <h1 class="text-[22px] font-extrabold text-[#001a4d] m-0 pl-4 tracking-tight">VisionPark</h1>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background: #ffffff;">
    <ion-list lines="none" class="px-4 pt-2 bg-transparent">
      
      <ion-item 
        *ngFor="let p of adminPages"
        button
        (click)="navigate(p.url)"
        [ngClass]="currentUrl === p.url ? 'active-menu' : 'inactive-menu'"
        detail="false" 
        class="menu-item cursor-pointer mb-2 transition-all">
        <ion-icon slot="start" [name]="p.icon" class="text-[18px] mr-2"></ion-icon>
        <ion-label class="text-[11px] font-bold uppercase tracking-wider">{{ p.title }}</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>