<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-searchbar placeholder="Tìm biển số xe..." class="ion-hide-sm-down custom-search"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger">3</ion-badge>
      </ion-button>
      
      <ion-button>
        <ion-avatar class="user-avatar">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label class="ion-padding-start ion-hide-sm-down">Admin</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>