:host {
  display: block;
  height: 100%;
}

/* Ép phần nền của trang giống hệt Sidebar */
ion-content.custom-bg {
  --background: #f8f9fa;
}

/* Ẩn icon dropdown mặc định của trình duyệt cho thẻ select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}